## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/weather_data/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Weather
0,0,Mayumba,-3.4320,10.6554,78.35,86,60,5.37,GA,broken clouds
1,1,Bambous Virieux,-20.3428,57.7575,79.21,82,51,11.81,MU,broken clouds
2,2,Komatipoort,-25.4332,31.9548,72.05,88,58,8.28,ZA,broken clouds
3,3,Ridgecrest,35.6225,-117.6709,61.68,13,0,4.00,US,clear sky
4,4,Bluff,-46.6000,168.3333,38.80,81,2,4.16,NZ,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
#Ask the user their temperature preferences
min_temp = float(input("What's the coldest temperature you want to experience on your trip?"))
max_temp = float(input("What's the hottest temperature you want to experience on your trip?"))

What's the coldest temperature you want to experience on your trip?70
What's the hottest temperature you want to experience on your trip?85

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
#Filter the dataset to find cities that meet the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"]<= max_temp) &\
                                      (city_data_df["Max Temp"]>+min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Weather
0,0,Mayumba,-3.4320,10.6554,78.35,86,60,5.37,GA,broken clouds
1,1,Bambous Virieux,-20.3428,57.7575,79.21,82,51,11.81,MU,broken clouds
2,2,Komatipoort,-25.4332,31.9548,72.05,88,58,8.28,ZA,broken clouds
6,6,Rikitea,-23.1203,-134.9692,79.02,71,66,16.06,PF,broken clouds
8,8,Mto Wa Mbu,-3.3500,35.8500,71.01,80,100,5.75,TZ,light rain
15,15,General Pico,-35.6566,-63.7568,77.49,20,1,8.32,AR,clear sky
22,22,Mbini,1.5740,9.6134,80.19,81,26,7.38,GQ,scattered clouds
23,23,Kattivakkam,13.2167,80.3167,81.07,75,91,9.86,IN,overcast clouds
24,24,Bengkulu,-3.8004,102.2655,76.42,86,100,8.41,ID,light rain
25,25,Oussouye,12.4850,-16.5469,84.60,30,20,9.35,SN,few clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID            226
City               226
Lat                226
Lng                226
Max Temp           226
Humidity           226
Cloudiness         226
Wind Speed         226
Country            224
Current Weather    226
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Weather", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,Mayumba,GA,78.35,broken clouds,-3.4320,10.6554,
1,Bambous Virieux,MU,79.21,broken clouds,-20.3428,57.7575,
2,Komatipoort,ZA,72.05,broken clouds,-25.4332,31.9548,
6,Rikitea,PF,79.02,broken clouds,-23.1203,-134.9692,
8,Mto Wa Mbu,TZ,71.01,light rain,-3.3500,35.8500,
15,General Pico,AR,77.49,clear sky,-35.6566,-63.7568,
22,Mbini,GQ,80.19,scattered clouds,1.5740,9.6134,
23,Kattivakkam,IN,81.07,overcast clouds,13.2167,80.3167,
24,Bengkulu,ID,76.42,light rain,-3.8004,102.2655,
25,Oussouye,SN,84.60,few clouds,12.4850,-16.5469,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    #update params?
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index,"Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [13]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[hotel_df["Hotel Name"]!=""]
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,Mayumba,GA,78.35,broken clouds,-3.4320,10.6554,LIKWALE LODGE
1,Bambous Virieux,MU,79.21,broken clouds,-20.3428,57.7575,Casa Tia Villa
2,Komatipoort,ZA,72.05,broken clouds,-25.4332,31.9548,Kruger View Backpackers
6,Rikitea,PF,79.02,broken clouds,-23.1203,-134.9692,People ThankYou
8,Mto Wa Mbu,TZ,71.01,light rain,-3.3500,35.8500,Fanaka Safaris Campsite & Lodges
15,General Pico,AR,77.49,clear sky,-35.6566,-63.7568,Euskadi Hotel
23,Kattivakkam,IN,81.07,overcast clouds,13.2167,80.3167,Euronova Freezer
24,Bengkulu,ID,76.42,light rain,-3.8004,102.2655,Grage Hotel Bengkulu
25,Oussouye,SN,84.60,few clouds,12.4850,-16.5469,Auberge du Routard
26,Butaritari,KI,81.30,light rain,3.0707,172.7902,Isles Sunset Lodge

In [14]:
# 8a. Create the output File (CSV)
# Create the output file (CSV).
output_data_file = "Weather_Database/weather_data/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [21]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}°F</dd>
<dt>Current Weather</dt><dd>{Current Weather}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [22]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))